# Tomcat-related properties for running the manager application
user.manager.url         = 
user.manager.username    = 
user.manager.password    = 

# The URL path that TOPALi will be deployed to
user.url.path            = /topali-testing

# The directory where log files will be stored
user.logging.dir         = $HOME/tomcat/topali/testing
# The directory where final job results will be stored
user.job.dir             = $HOME/topali/testing/jobs
# The directory where TOPALi will be cloned to (in cases where the child nodes
# can't see the webapps directory)
user.topali.dir          =
# The path to Java (must be valid for all child nodes)
user.java.path           = $JAVA_HOME/bin/java
# The directory where temporary job-related files can be stored on each node
user.tmp.dir             = /tmp

# Directory containing the SGE submission scripts (relative to Ant)
user.cluster.dir         = config/cluster/scri-testing